<div class="row">
  <form id="addVideoForm" class="form-horizontal" role="form" action="/app/avmixer/video/addSession" method="post">
    <div class="col-sm-offset-3 col-sm-6">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h4>Add audio</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 text-center text-center">
          <input type="numeric" class="form-control input-sm text-center" name="port" id="port" placeholder="Port">
        </div>
      </div>
      <div class = "row">&nbsp;</div>
      <div class="row">
        <div class="col-sm-12 text-center">
          <select class="form-control" name="codec">
            <option value="none">Codec</option>
            <option value="pcm">PCM</option>
            <option value="pcmu">PCMU</option>
            <option value="opus">OPUS</option>
            <option value="MPEG4-GENERIC">AAC</option>
            <option value="mp3">MP3</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 text-center">
          <select class="form-control" name="sampleRate">
            <option value="none">Smp.Rate</option>
            <option value="8000">8000</option>
            <option value="44100">44100</option>
            <option value="48000">48000</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 text-center">
          <select class="form-control" name="channels">
            <option value="none">Channels</option>
            <option value="1">1</option>
            <option value="2">2</option>
          </select>
        </div>
      </div>
      </div>
      <div class = "row">&nbsp;</div><p>
      <div class="row">
        <div class="col-sm-12 text-center">
          <button type="submit" class="btn btn-default">Set and continue</button>
        </div>
      </div>
   </form>
</div>