<script>
$(document).ready( function() {
    var host = window.document.location.hostname;
    var port = window.document.location.port;
    document.getElementById("defaultServer").innerHTML = 'host: '+host+', and port: '+ (port == '' ? '80': port);
    document.getElementById("server-host").value = host;
    document.getElementById("server-port").value = (port == '' ? '80': port);
});
</script>
<div class="row">
  <div class="col-sm-12">
    <h3>First of all, set API and LiveMediaStreamer instance connectivity</h3>
  </div>
</div> 
<div class="row">
  <form class="form-horizontal" role="form" id="connectForm">
    <h4>API connectivity parameters</h4>
    <div class="form-group">
      <div class="col-sm-12">
        <input type="text" class="form-control" id='api-host' placeholder="Enter API host (e.g.: 127.0.0.1)" required="true" autofocus>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-12"> 
        <input type="text" class="form-control" id='api-port' placeholder="Enter API port (e.g.: 8080)" required="true">
      </div>
    </div> 
    <h4>LMS connectivity parameters</h4>
    <div class="form-group">
      <div class="col-sm-12">
        <input type="text" class="form-control" id='lms-host' placeholder="Enter LMS host (e.g.: 127.0.0.1)" required="true">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-12"> 
        <input type="text" class="form-control" id='lms-port' placeholder="Enter LMS port (e.g.: 7777)" required="true">
      </div>
    </div>
    <h4>Server host/IP and port (proposed configuration is <span id="defaultServer"></span>)</h4>
    <div class="form-group">
      <div class="col-sm-12">
        <input type="text" class="form-control" id='server-host' placeholder="Enter Server host (e.g.: 127.0.0.1)" required="true">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-12"> 
        <input type="text" class="form-control" id='server-port' placeholder="Enter Server port (e.g.: 80)" required="true">
      </div>
    </div>
    <div class="form-group"> 
      <div class="col-sm-12">
        <input id="connectBtn" type="submit" class="btn btn-default" value="Connect"></input>
      </div>
    </div>
  </form>
</div>
